<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730407362156-5ntq5vft1mkhm5lltsfridfg5tl824dk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730407362156-5ntq5vft1mkhm5lltsfridfg5tl824dk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>730407362156-sgvdjn9glei0lq30e24rm4qsm1qhurpm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHmfM0Hswm3jCaZQuEwWV4H3QuckCjDVU</string>
	<key>GCM_SENDER_ID</key>
	<string>730407362156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scheduleapp</string>
	<key>PROJECT_ID</key>
	<string>educare-test-754c7</string>
	<key>STORAGE_BUCKET</key>
	<string>educare-test-754c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730407362156:ios:cd07a8acc19a55562c4249</string>
	<key>DATABASE_URL</key>
	<string>https://educare-test-754c7.firebaseio.com</string>
</dict>
</plist>